<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>angular-template-for-threejs documentation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
	      <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top visible-xs">
            <a href="../" class="navbar-brand">angular-template-for-threejs documentation</a>
            <button type="button" class="btn btn-default btn-menu ion-ios-menu" id="btn-menu"></button>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
                <div id="book-search-input" role="search"><input type="text" placeholder="Type to search"></div>            <compodoc-menu></compodoc-menu>
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="hidden-xs menu">
                   <compodoc-menu mode="normal"></compodoc-menu>
               </div>
               <!-- START CONTENT -->
               <div class="content component">
                   <div class="content-data">




<ol class="breadcrumb">
  <li>Components</li>
  <li>StorybookContainerComponent</li>
</ol>

<ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#info" role="tab" id="info-tab" data-toggle="tab" data-link="info">Info</a>
        </li>
        <li >
            <a href="#source" role="tab" id="source-tab" data-toggle="tab" data-link="source">Source</a>
        </li>
        <li >
            <a href="#styleData" role="tab" id="styleData-tab" data-toggle="tab" data-link="style">Styles</a>
        </li>
        <li >
            <a href="#tree" role="tab" id="tree-tab" data-toggle="tab" data-link="dom-tree">DOM Tree</a>
        </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="c-info"><p class="comment">
    <h3>File</h3>
</p>
<p class="comment">
    <code>src/stories/common/storybook-container.component.ts</code>
</p>





<section>
    <h3>Metadata</h3>
    <table class="table table-sm table-hover">
        <tbody>











            <tr>
                <td class="col-md-3">selector</td>
                <td class="col-md-9"><code>storybook-container</code></td>
            </tr>

            <tr>
                <td class="col-md-3">styleUrls</td>
                <td class="col-md-9"><code>storybook-container.component.scss</code></td>
            </tr>


            <tr>
                <td class="col-md-3">template</td>
                <td class="col-md-9"><pre class="line-numbers"><code class="language-html">&lt;atft-orbit-controls rotateSpeed&#x3D;1 zoomSpeed&#x3D;1.2 [listeningControlElement]&#x3D;mainRenderer.renderPane (render)&#x3D;&quot;mainRenderer.render()&quot;&gt;
    &lt;atft-webgl-renderer #mainRenderer&gt;
        &lt;atft-perspective-camera (render)&#x3D;&quot;mainRenderer.render()&quot; [zAxisUp]&#x3D;&quot;true&quot; positionX&#x3D;50 positionY&#x3D;-20
                                 positionZ&#x3D;50&gt;&lt;/atft-perspective-camera&gt;
        &lt;atft-scene&gt;
            &lt;atft-axes-helper size&#x3D;200&gt;&lt;/atft-axes-helper&gt;
            &lt;atft-grid-helper size&#x3D;100 divisions&#x3D;10 [rotateX]&#x3D;&quot;90 | deg2rad&quot;&gt;&lt;/atft-grid-helper&gt;
            &lt;atft-point-light color&#x3D;&quot;white&quot; intensity&#x3D;&quot;0.9&quot; distance&#x3D;&quot;1000&quot; translateX&#x3D;50 translateY&#x3D;50
                              translateZ&#x3D;50&gt;&lt;/atft-point-light&gt;
            &lt;storybook-sample (render)&#x3D;&quot;mainRenderer.render()&quot;&gt;&lt;/storybook-sample&gt;
        &lt;/atft-scene&gt;
    &lt;/atft-webgl-renderer&gt;
&lt;/atft-orbit-controls&gt;
</code></pre></td>
            </tr>









        </tbody>
    </table>
</section>









</div>


    <div class="tab-pane fade  tab-source-code" id="c-source">
        <pre class="line-numbers compodoc-sourcecode"><code class="language-typescript">import {Component} from &#x27;@angular/core&#x27;;

@Component({
  // tslint:disable-next-line:component-selector
  selector: &#x27;storybook-container&#x27;,
  template: &#x60;
      &lt;atft-orbit-controls rotateSpeed&#x3D;1 zoomSpeed&#x3D;1.2 [listeningControlElement]&#x3D;mainRenderer.renderPane (render)&#x3D;&quot;mainRenderer.render()&quot;&gt;
          &lt;atft-webgl-renderer #mainRenderer&gt;
              &lt;atft-perspective-camera (render)&#x3D;&quot;mainRenderer.render()&quot; [zAxisUp]&#x3D;&quot;true&quot; positionX&#x3D;50 positionY&#x3D;-20
                                       positionZ&#x3D;50&gt;&lt;/atft-perspective-camera&gt;
              &lt;atft-scene&gt;
                  &lt;atft-axes-helper size&#x3D;200&gt;&lt;/atft-axes-helper&gt;
                  &lt;atft-grid-helper size&#x3D;100 divisions&#x3D;10 [rotateX]&#x3D;&quot;90 | deg2rad&quot;&gt;&lt;/atft-grid-helper&gt;
                  &lt;atft-point-light color&#x3D;&quot;white&quot; intensity&#x3D;&quot;0.9&quot; distance&#x3D;&quot;1000&quot; translateX&#x3D;50 translateY&#x3D;50
                                    translateZ&#x3D;50&gt;&lt;/atft-point-light&gt;
                  &lt;storybook-sample (render)&#x3D;&quot;mainRenderer.render()&quot;&gt;&lt;/storybook-sample&gt;
              &lt;/atft-scene&gt;
          &lt;/atft-webgl-renderer&gt;
      &lt;/atft-orbit-controls&gt;
  &#x60;,
  styleUrls: [&#x27;storybook-container.component.scss&#x27;]
})
export class StorybookContainerComponent {

}
</code></pre>
    </div>


    <div class="tab-pane fade " id="c-styleData">
                <p class="comment">
                    <code>storybook-container.component.scss</code>
                </p>
                <pre class="line-numbers"><code class="language-scss">:host {
  height: 100%;
  display: flex;
}
</code></pre>
    </div>

    <div class="tab-pane fade " id="c-tree">
        <div id="tree-container"></div>
        <div class="tree-legend">
            <div class="title">
                <b>Legend</b>
            </div>
            <div>
                <div class="color htmlelement"></div><span>Html element</span>
            </div>
            <div>
                <div class="color component"></div><span>Component</span>
            </div>
            <div>
                <div class="color directive"></div><span>Html element with directive</span>
            </div>
        </div>
    </div>

    
</div>

<script src="../js/libs/vis.min.js"></script>
<script src="../js/libs/htmlparser.js"></script>
<script src="../js/libs/deep-iterator.js"></script>
<script>
        var COMPONENT_TEMPLATE = '<div><atft-orbit-controls rotateSpeed=1 zoomSpeed=1.2 [listeningControlElement]=mainRenderer.renderPane (render)="mainRenderer.render()">    <atft-webgl-renderer #mainRenderer>        <atft-perspective-camera (render)="mainRenderer.render()" [zAxisUp]="true" positionX=50 positionY=-20                                 positionZ=50></atft-perspective-camera>        <atft-scene>            <atft-axes-helper size=200></atft-axes-helper>            <atft-grid-helper size=100 divisions=10 [rotateX]="90 | deg2rad"></atft-grid-helper>            <atft-point-light color="white" intensity="0.9" distance="1000" translateX=50 translateY=50                              translateZ=50></atft-point-light>            <storybook-sample (render)="mainRenderer.render()"></storybook-sample>        </atft-scene>    </atft-webgl-renderer></atft-orbit-controls></div>'
    var COMPONENTS = [{'name': 'AppComponent', 'selector': 'app-root'},{'name': 'StorybookContainerComponent', 'selector': 'storybook-container'},{'name': 'StorybookEmptyComponent', 'selector': 'storybook-sample'}];
    var DIRECTIVES = [];
    var ACTUAL_COMPONENT = {'name': 'StorybookContainerComponent'};
</script>
<script src="../js/tree.js"></script>










                   




                   </div><div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> result-matching "<span class='search-query'></span>"</h1>
        <ul class="search-results-list"></ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">No results matching "<span class='search-query'></span>"</h1>
    </div>
</div>
</div>
               <!-- END CONTENT -->
           </div>
       </div>

       <script>
            var COMPODOC_CURRENT_PAGE_DEPTH = 1;
            var COMPODOC_CURRENT_PAGE_CONTEXT = 'component';
            var COMPODOC_CURRENT_PAGE_URL = 'StorybookContainerComponent.html';
       </script>

       <script src="../js/libs/custom-elements.min.js"></script>
       <script src="../js/libs/lit-html.js"></script>
       <!-- Required to polyfill modern browsers as code is ES5 for IE... -->
       <script src="../js/libs/custom-elements-es5-adapter.js" charset="utf-8" defer></script>
       <script src="../js/menu-wc.js" defer></script>

       <script src="../js/libs/bootstrap-native.js"></script>

       <script src="../js/libs/es6-shim.min.js"></script>
       <script src="../js/libs/EventDispatcher.js"></script>
       <script src="../js/libs/promise.min.js"></script>
       <script src="../js/libs/zepto.min.js"></script>

       <script src="../js/compodoc.js"></script>

       <script src="../js/tabs.js"></script>
       <script src="../js/menu.js"></script>
       <script src="../js/libs/clipboard.min.js"></script>
       <script src="../js/libs/prism.js"></script>
       <script src="../js/sourceCode.js"></script>
          <script src="../js/search/search.js"></script>
          <script src="../js/search/lunr.min.js"></script>
          <script src="../js/search/search-lunr.js"></script>
          <script src="../js/search/search_index.js"></script>
       <script src="../js/lazy-load-graphs.js"></script>


    </body>
</html>
