<!--
  We are explicitly using [(ngModel)] bindings here!

  Especially
    <input type="range" ... #rotationX>
  and later writing
    <three-object-loader ... [rotateX]=rotationX.value>
  somehow fails to propagate values instantaneously.
  Instead one has to click multiple times and trigger mouse move events for the updates
  to take place.
-->
X rotation: <input type="range" min="-3.141" max="3.141" step="0.1" [(ngModel)]="rotationX">
{{ rotationX | rad2deg | number:'1.1-2'}} °<br>

Y rotation: <input type="range" min="-3.141" max="3.141" step="0.1" [(ngModel)]="rotationY">
{{ rotationY | rad2deg | number:'1.1-2'}} °<br>

Z rotation: <input type="range" min="-3.141" max="3.141" step="0.1" [(ngModel)]="rotationZ">
{{ rotationZ | rad2deg | number:'1.1-2'}} °<br>

Y translation: <input type="range" min="-50" max="50" step="1" [(ngModel)]="translationY"> {{ translationY }}

<hr>
<three-orbit-contols [rotateSpeed]=1 [zoomSpeed]=1.2 [listeningControlElement]=mainRenderer.renderPane>
  <three-renderer #mainRenderer>

    <three-perspective-camera [fov]=60 [near]=1 [far]=1100 positionX=20 positionY=50 positionZ=50></three-perspective-camera>

    <three-scene>
      <three-axes-helper size=200></three-axes-helper>
      <three-grid-helper size=100 divisions=10></three-grid-helper>

      <three-point-light color="white" intensity="1" distance="1000" translateX=50 translateY=50 translateZ=50></three-point-light>
      <three-point-light color="#FAFA00" intensity="1" distance="1000" translateX=-50 translateY=50 translateZ=20></three-point-light>


      <three-collada-loader model="assets/model/tableAndChair.dae" translateX=-20 rotateY="{{45 | deg2rad}}" [renderer]="mainRenderer">
        <three-axes-helper size=10></three-axes-helper>
      </three-collada-loader>


      <div *ngFor="let z of [-10, -5, 0, 5, 10]">
        <three-object-loader *ngFor="let x of [0,5,10,15,20]" model="assets/model/Server.json" [translateX]="x" [translateZ]="z"
          [renderer]="mainRenderer"
          [rotateX]="rotationX"
          [rotateY]="rotationY"
          [rotateZ]="rotationZ"
          [translateY]="translationY"
          >
        </three-object-loader>
      </div>

    </three-scene>
  </three-renderer>
</three-orbit-contols>
